<section id = 'aboutme' class = 'aboutme'>
  <div class="container">
    <div class="aboutme__wrapper">
      <div class="aboutme__content">
        <div class="aboutme__content-title">
          Обо мне
        </div>
        <div class="aboutme__content-text">
          Изучаю веб-разработку, стремлюсь к новым знаниям и не хочу останавливаться на достигнутом. Большую часть времени посвящую обучению, предпочитаю активный отдых. Спокойно отношусь к критике, готов работать над своими ошибками.
        </div>
      </div>
    </div>
  </div>
</section>