<section class = 'banner'>
  <div class="container">
    <div class="banner__wrapper">
      <div class="banner__picture">
        <img class = 'banner__img' src="../../img/Frame.png" alt="">
      </div>
      <div class="banner__content">
        <div class="banner__content-title">
          Верстка и веб-разработка
        </div>
        <div class="banner__content-text">
          Занимаюсь версткой сайтов и веб-разработкой. В работе использую: HTML, CSS, SCSS, JavaScript, React...
          С моими работами можно ознакомиться ниже. Если возникли вопросы, можете связаться со мной.
        </div>
        <div class="banner__content-links">
          <a class = 'banner__content-links-link' href="mailto:tazorbeatsss@gmail.com">НАПИСАТЬ МНЕ</a>
        </div>
      </div>
    </div>
  </div>
</section>