<header id = 'main' class="header">
  <div class="container">
    <div class="header__wrapper">
      <div class="header__nav">
        <ul class = 'header__nav-menu'>
          <li class="header__nav-menu-item"><a class="header__nav-menu-link" href="#main">ГЛАВНАЯ</a></li>
          <li class="header__nav-menu-item"><a class="header__nav-menu-link" href="#aboutme">ОБ АВТОРЕ</a></li>
          <li class="header__nav-menu-item"><a class="header__nav-menu-link" href="#slider">РАБОТЫ</a></li>
          <li class="header__nav-menu-item"><a class="header__nav-menu-link" href="#contacts">КОНТАКТЫ</a></li>
        </ul>
      </div>
      <div class="header__burger-container">
        <div class="header__burger">
          <span></span>
      </div>
      </div>
      
  </div>
</header>
