<section class = 'skills'>
  <div class="container">
    <div class="skills__wrapper">
      <div class="skills_content">
        <div class="skills_content-title">
          Мои навыки
        </div>
        <div class="skills_content-skills">
          <ul class="skills_content-skills-list">
            <li class = 'skills_content-skills-list-item'>Figma</li>
            <li class = 'skills_content-skills-list-item'>Adobe Photoshop</li>
            <li class = 'skills_content-skills-list-item'>HTML</li>
            <li class = 'skills_content-skills-list-item'>CSS</li>
            <li class = 'skills_content-skills-list-item'>SCSS</li>
            <li class = 'skills_content-skills-list-item'>JavaScript</li>
            <li class = 'skills_content-skills-list-item'>React</li>
            <li class = 'skills_content-skills-list-item'>English - A2</li>
          </ul>
        </div>
      </div>
      <div class="skills__pictures">
        <img class = 'skills__img' src="../../img/124-1247029_digital-skills-social-media-hd-png-download.png" alt="">
      </div>
      </div>
      </div>
      </section>