<section id = 'slider' class = 'slider'>
  <div class="container">
    <div class="slider__main-title">
      Мои работы
    </div>
    <div class="slider__wrapper">
        <div class = 'slider__item'>
          <div class="slider__item-wrapper">
            <div class="slider__item-content">
              <div class="slider__item-links">
                <a target="_blank" class = 'slider__item-link' href="https://m8lott.github.io/">Ознакомиться с работой</a>
              </div>
            </div>
            </div>
            </div>
            <div class = 'slider__item'>
              <div class="slider__item-wrapper-2">
                <div class="slider__item-content">
                  <div class="slider__item-links">
                    <a target="_blank" class = 'slider__item-link' href="https://m8lott.github.io/calculator/">Ознакомиться с работой</a>
                  </div>
                </div>
                </div>
                </div>
            </div>
            </div>
            </section>