body {
  overflow-x: hidden;
}.footer {
  // .footer__wrappper
  &__wrappper {
    margin-top: 150px;
    margin-bottom: 100px;
    padding-top: 50px;
    border-top: 1px solid #E5E5E5;
    padding-left: 50px;
  }
  // .footer__title
  &__title {
    font-family: 'Roboto';
font-weight: 500;
font-size: 32px;
line-height: 38px;
color: #000000;
  }
  // .footer__links
  &__links {
    padding-top: 20px;
  }
  // .footer__links-list
  &__links-list {
    display: flex;
    gap:20px;
    list-style: none;
    padding-left: 0;
  }
  // .footer__links-list-item
  &__links-list-item {
  }
  // .footer__links-list-link
  &__links-list-link {
  }
  }
  .conainer {
  }
  